@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    margin: auto;
    padding: 15px;
    background-color: #212529;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 100px;
}

.new {
    margin: auto;
    padding: 10px 10px 40px;
    max-width: 850px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border-bottom: solid 5px white;
}

.new img {
    border-radius: 5px;
    width: 100%;
}

.new h1 {
    font-size: 30px;
    font-weight: bold;
    color: #212529;
    border-radius: 5px;
    border-left: solid 5px #FA8E0E;
    margin-bottom: 20px;
    padding-left: 6px;
}


.new-div {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-div img {
    max-width: 300px;
}

.new-div-right {
    border-left: solid 5px #FA8E0E;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    padding-bottom: 6px;
}

.new-div-right h2 {
    color: #212529;
    font-size: 26px;
    font-weight: bold;
    padding-left: 10px;
}

.new-div-right h3 {
    font-size: 25px;
    font-weight: bold;
    color: red;
    font: bold;
    padding-left: 10px;
}

.new-div-right p {
    color: #212529;
    padding-left: 10px;
}

.new-div-right a {
    margin-left: 10px;
}

.offer {
    margin: auto;
    padding: 10px 10px 20px;
    max-width: 850px;
    background-color: rgb(240, 240, 240);
    border-top: solid 6px #FA8E0E;
    border-radius: 5px;
}

.offer h2 {
    color: #212529;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card {
    width: 200px;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 {
    color: #212529;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.card h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: red;
    font: bold;
    padding-left: 10px;
}

.card h4 {
    text-decoration: line-through;
    font-size: 15px;
    text-align: left;
    color: #21252980;
    font: bold;
    padding-left: 10px;
}

.card p {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

.card a {
    margin-left: 10px;
}

.copyright {
    margin: auto;
    padding: 10px 0px 10px;
    max-width: 850px;
    background-color: #212529;
}

.copyright h2{
    text-align: center;
    font-size: 15px;
    color: #ffffffa4;
}

.notproduct {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.notproduct h1{
    text-align: center;
    padding: 230px;
    font-weight: bold;
    color: #212529;
}

.contact{
    margin: auto;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact h1{
    font-size: 30px;
    font-weight: bold;
}

.contact-container {
    width: 300px;
    text-align: left;
    margin: auto;
}

.errorInput {
    border: 1px solid rgb(250, 145, 145) !important;
}

.successInput {
    border: 1px solid rgb(128, 235, 128) !important;
}

span {
    font-size: 12px;
    color: red
}

.msgsubmit{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgsubmit div{
    padding: 114px;
    flex-wrap: wrap;
    text-align: center;
}

.msgsubmit h1{
    font-weight: bold;
    font-size: 25px;
}